.category-container{
    display:grid;
    justify-content:center;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.category-card{
    width:180px;
    padding:20px;
    border-radius:15px;
    background:white;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:0.3s;
    cursor:pointer;
}
.category-card:hover{
    transform:translateY(-10px);
}
.category-card h2{
    font-size:50px;
}
.category-card p{
    margin-top:15px;
    font-size:20px;
    font-weight:bold;
}