.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
    background:#ff6b35;
    color:white;
    position:sticky;
    top:0;
    z-index: 9999;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#2D1B12;
}
@media (max-width:768px){

    .navbar{
        flex-direction:column;
        padding:20px;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
        gap:15px;
    }

}