.product-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 60px;
    flex-wrap: wrap;
}

.product-detail img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.product-info{
    max-width: 500px;
}

.product-info h1{
    font-size: 42px;
    margin-bottom: 15px;
}

.product-info h2{
    color: #ff6b35;
    font-size: 32px;
    margin-bottom: 20px;
}

.product-info p{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #555;
}

.product-info h3{
    margin-bottom: 10px;
    font-size: 24px;
}

.product-info ul{
    margin-left: 20px;
    margin-bottom: 30px;
}

.product-info li{
    font-size: 18px;
    margin-bottom: 8px;
}

.product-info button{
    padding: 15px 35px;
    background: #ff6b35;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.product-info button:hover{
    background: #e65c2e;
    transform: scale(1.05);
}

/* Responsive */

@media(max-width:768px){

    .product-detail{
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    .product-detail img{
        width: 100%;
        height: 250px;
    }

    .product-info{
        max-width: 100%;
    }

    .product-info ul{
        text-align: left;
        display: inline-block;
    }
}