.register{
    max-width:500px;
    margin:60px auto;
    padding:35px;
    background:white;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    text-align:center;

    position: relative;
    z-index: 1000;
}

.register input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.register button{
    width:100%;
    padding:10px;
}